@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: rgb(250, 100, 100);
   font-family: "Nunito", sans-serif;
}

#pokemonList {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   list-style: none;
   text-align: center;
}

.rock {
   background-color: rgb(148, 81, 81);
}
.ghost {
   background-color: rgb(247, 247, 247);
}
.electric {
   background-color: rgb(255, 255, 161);
}
.bug {
   background-color: #f6d6a7;
}
.poison {
   background-color: #e0a7f6;
}
.normal {
   background-color: #f4f4f4;
}
.fairy {
   background-color: rgba(255, 192, 203, 0.863);
}
.fire {
   background-color: #fbe3df;
}
.grass {
   background-color: #e2f9e1;
}
.water {
   background-color: #e0f1fd;
}

li {
   background: aliceblue;
   width: 60%;
   height: 400px;
   border-radius: 1.5rem;
   margin: 2rem 0;
   padding: 1rem 0;
}

li img {
   width: 70%;
   height: 75%;
}

li h1 {
   text-transform: uppercase;
}
